@using EShopUI.Models

@model ProductVM
@{
    var userId = ViewData["UserId"];
}
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <ul>
                        @foreach (var category in Model.GetAllCategoriesWithProducts)
                        {
                            <li>
                                <a asp-action="Category" asp-route-id="@category.CategoryId">
                                    @category.Name
                                </a>
                                <span>(@category.Products.Count)</span>
                            </li>
                        }
                    </ul>
                </div>



                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        @foreach (var brand in Model.GetAllBrandsWithProducts)
                        {

                            <li><a asp-action="Brand" asp-route-id="@brand.BrandId">@brand.Name </a><span>(@brand.Products.Count)</span></li>

                        }
                    </ul>
                </div>


            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="product-search">
                                    <input type="email" value="Search">
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-short">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product short by</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a asp-action="GetNewestProducts" class="dropdown-item">Newest</a>
                                            <a asp-action="GetProductsSortedByPriceAscending" class="dropdown-item">Price from Less to More</a>
                                            <a asp-action="GetProductsSortedByPriceDescending" class="dropdown-item">Price from More to Less</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach(var product in Model.GetProductList)
                    {
                        <div class="col-lg-4">
                            <div class="product-item">
                                <div class="product-image">
                                    <a asp-action="ProductDetails" asp-route-id="@product.ProductId">
                                        <img src="@product.ImageUrl" alt="Product Image">
                                    </a>
                                    <div class="product-action text-center">
                                        <div class="row justify-content-center">
                                            <form method="post" action="@Url.Action("AddToCart", "Cart")" class="mx-2">
                                                <input type="hidden" name="ProductId" value="@product.ProductId" />
                                                <input type="hidden" name="Quantity" id="hiddenQuantityInput" value="1" />
                                                <input type="hidden" name="UserId" value="@userId" />
                                                <button type="submit" class="btn"><i class="fa fa-shopping-cart"></i> </button>
                                            </form>
                                            <br />
                                            <form method="post" action="@Url.Action("AddToFavorites", "Favourite")" class="mx-2">
                                                <input type="hidden" name="ProductId" value="@product.ProductId" />
                                                <input type="hidden" name="Quantity" value="1" id="quantityInput" />
                                                <button type="submit" class="btn"><i class="fa fa-heart"></i> </button>
                                            </form>
                                        </div>
                                    
                               
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="title"><a href="#">@product.Name</a></div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    @if (product.IsDiscount == true)
                                    {
                                        <div class="price">$@product.DiscountPrice <span>$@product.Price</span></div>
                                    }
                                    else
                                    {
                                        <div class="price">$@product.Price</div>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                   
                    
                </div> 

                @if (Model.TotalPages > 1)
                {
                      <div class="col-lg-12">
                    <nav aria-label="Product pagination">
                        <ul class="pagination justify-content-center">
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Product", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })">Previous</a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Product", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
                                </li>
                            }

                            @if (Model.PageNumber < Model.TotalPages)
                            {
                                <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Product", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                    </div>
             
                }
            </div>
        



        </div>
    </div>
</div>